/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    min-width: 540px;
    border-radius: 5px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
